* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--lion: #a6894eff;
--dun: #d9cbafff;
--field-drab: #695831ff;
--alabaster: #f1eee4ff;
--caf-noir: #433423ff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dun);
}


/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}/* Barra de navegación */
header {
    background-color: var(--dun);
    color: #695831;
    padding: 10px 20px;
}

/* El contenedor de la barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Ocultar los enlaces en pantallas pequeñas por defecto */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

/* Ocultar el icono del toggle en pantallas grandes */
@media screen and (min-width: 769px) {
    .menu-toggle {
        display: none; /* Ocultar el icono ☰ en pantallas más grandes */
    }
}


/* Ajuste para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px; /* Ajusta según sea necesario */
        left: 0;
        width: 100%;
        background-color: var(--dun);
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block; /* Mostrar el botón en pantallas pequeñas */
        font-size: 30px;
        background: none;
        border: none;
        color: #695831;
        cursor: pointer;
    }

    nav {
        justify-content: space-between;
    }
}

/* Mostrar el menú cuando se hace clic en el botón */
.menu-toggle.active + .nav-links {
    display: block;
}


.logo {
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    padding-right: 100px;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: var(--lion);
    text-decoration: none;
    font-size: 28px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--caf-noir); 
}

/*Portada*/

.hero {
    background: url('../assets/hero-image.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Sección principal */
main {
    padding: 20px;
}

section {
    margin: 40px 0;
}

h1, h2 {
    color: var(--lion);
}

/* Estilo del pie de página */
footer {
    background-color: var(--dun);
    color: var(--lion);
    text-align: center;
    padding: 10px 0;
}
