* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--lion: #a6894eff;
--dun: #d9cbafff;
--field-drab: #695831ff;
--alabaster: #f1eee4ff;
--caf-noir: #433423ff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--dun);
}

/* Barra de navegación */
header {
    background-color: var(--dun);
    color: #695831;
    padding: 10px 20px;
    /*display: flex;*/
    /*justify-content: space-between;
    align-items: center;*/
}

/* El contenedor de la barra de navegación */
nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    padding-right: 100px;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: var(--lion);
    text-decoration: none;
    font-size: 28px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--caf-noir); 
}

/* Sección principal */
main {
    padding: 20px;
}

section {
    margin: 40px 0;
}

h1, h2 {
    color: var(--lion);
}

/* Estilo del pie de página */
footer {
    background-color: var(--dun);
    color: var(--lion);
    text-align: center;
    padding: 10px 0;
}
