/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}/* Barra de navegación */
header {
    background-color: var(--dun);
    color: #695831;
    padding: 10px 20px;
}

/* El contenedor de la barra de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Ocultar los enlaces en pantallas pequeñas por defecto */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

/* Ocultar el icono del toggle en pantallas grandes */
@media screen and (min-width: 769px) {
    .menu-toggle {
        display: none; /* Ocultar el icono ☰ en pantallas más grandes */
    }
}


/* Ajuste para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px; /* Ajusta según sea necesario */
        left: 0;
        width: 100%;
        background-color: var(--dun);
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block; /* Mostrar el botón en pantallas pequeñas */
        font-size: 30px;
        background: none;
        border: none;
        color: #695831;
        cursor: pointer;
    }

    nav {
        justify-content: space-between;
    }
}

/* Mostrar el menú cuando se hace clic en el botón */
.menu-toggle.active + .nav-links {
    display: block;
}


.logo {
    height: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    padding-right: 100px;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: var(--lion);
    text-decoration: none;
    font-size: 28px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--caf-noir); 
}